* {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Alegreya SC';
}

body {
    background-image: url(Main2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    color: white;
}

#h1-1 {
    font-size: 150px;
    margin-top: 4%;
    margin-left: 30%;
}

#h1-2 {
    font-size: 150px;
    margin-top: 12%;
    margin-left: 43%;
}

h2 {
    font-size: 100px;
    margin-top: 7%;
    margin-left: 44%;
}

nav {
    display: flex;
    margin-top: 3%;
    margin-left: 35%;
}

a {
    font-size: 40px;
    text-decoration: none;
    color: white;
    margin-left: 100px;
}

button {
    width: 600px;
    height: 200px;
    border-radius: 60px;
    font-size: 90px;
    margin-top: 1%;
    margin-left: 45%;
}